.blue {
    background: #004358;
}
.aqua {
    background: #1f8a70;
}
.green {
    background: #bed839;
}
.yellow {
    background: #ffe11a;
}
.orange {
    background: #fd7400;
}

.white-text {
    color: white;
}

.h1-subtitle {
    font-size: 20px;
    font-style: italic;
}